@model DragonCon.Features.Management.Convention.ConventionCreateUpdateViewModel
@{
    ViewBag.Title = "הוספת כנס חדש";
}
<form asp-area="Management" asp-controller="Convention" asp-action="CreateConvention" method="post" class="right-to-left" style="padding: 10px;">
    <input asp-for="Id" hidden />

    <div class="form-group">
        <label>שם הכנס</label>
        <input asp-for="Name" class="form-control" placeholder="למשל - 'דרקוניקון 2022'">
    </div>
    @* Convention Days *@
    <div class="form-group">
        <label>ימי הכנס</label>
        <div id="last-day-template" data-counter="0" class="row last-day-row" style="padding-bottom: 5px;" hidden>
            <input type="text" class="update-deleted" value="false" hidden>
            <div class="col">
                <input type="date" class="form-control update-date" placeholder="יום כנס">
            </div>
            <div class="col">
                <input type="time" class="form-control  update-from" placeholder="שעת התחלה">
            </div>
            <div class="col">
                <input type="time" class="form-control  update-to" placeholder="שעת סיום">
            </div>
            <div class="col-1">
                <a href="#" class="form-control">
                    <i title="הסר יום" class="fa fa-fw fa-times"></i>
                </a>
            </div>
        </div>
        <div class="row last-day-row" style="padding-bottom: 5px;">
            <input class="update-deleted" name="Days[0].IsDeleted" value="false" hidden>
            <div class="col">
                <input name="Days[0].Date" type="date" class="form-control" placeholder="יום כנס">
            </div>
            <div class="col">
                <input name="Days[0].From" type="time" class="form-control" placeholder="שעת התחלה">
            </div>
            <div class="col">
                <input name="Days[0].To" type="time" class="form-control" placeholder="שעת סיום">
            </div>
            <div class="col-1">
                <a href="#" onclick="RemoveDay(this)" class="form-control">
                    <i title="הסר יום" class="fa fa-fw fa-times"></i>
                </a>
            </div>
        </div>
        <a href="#" onclick="AddNewDay()"><i class="fa fa-fw fa-plus"></i> הוספת יום</a>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">שמור שינויים</button>
</form>


@section Scripts{
    <script>
        function RemoveDay(selector) {
            $(selector).closest(".row").find(".update-deleted").attr('value','true');
            $(selector).closest(".row").hide();
        }

        function AddNewDay() {
            var $lastDayTemplate = $("#last-day-template");
            var $lastDayCounter = parseInt($lastDayTemplate.data("counter")) +1;
            $lastDayTemplate.data("counter", $lastDayCounter.toString());

            var clone = $lastDayTemplate.clone();
            clone.attr("id", "");
            clone.prop("hidden", "");

            clone.find(".update-date").attr("name", `Days[${$lastDayCounter}].Date`);
            clone.find(".update-from").attr("name", `Days[${$lastDayCounter}].From`);
            clone.find(".update-to").attr("name", `Days[${$lastDayCounter}].To`);
            clone.find(".update-deleted").attr("name", `Days[${$lastDayCounter}].IsDeleted`);
            clone.find("a").click(function () { RemoveDay(this); });

            $(".last-day-row").last().after(clone);
        }
    </script>
}