@using System.Globalization
@using DragonCon.Modeling.Helpers
@model DragonCon.Features.Management.Convention.ConventionManagementViewModel
@{
    ViewBag.Title = "ניהול הכנס";
}

<div class="right-to-left">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-cons-tab" data-toggle="tab" href="#nav-cons" role="tab" aria-controls="nav-cons" aria-selected="true">כנסים</a>
            <a class="nav-item nav-link" id="nav-settings-tab" data-toggle="tab" href="#nav-settings" role="tab" aria-controls="nav-profile" aria-selected="false">הגדרות כנס פעיל</a>
            <a class="nav-item nav-link" id="nav-export-tab" data-toggle="tab" href="#nav-export" role="tab" aria-controls="nav-contact" aria-selected="false">יצוא וגיבוי</a>
            <a class="nav-item nav-link" id="nav-statistics-tab" data-toggle="tab" href="#nav-statistics" role="tab" aria-controls="nav-contact" aria-selected="false">סטטיסטקות</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-cons" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="text-right" style="padding:15px;">
                <a asp-area="Management" asp-controller="Convention" asp-action="CreateConvention">
                    <i class="fa fa-fw fa-plus-square"></i> הוספת כנס חדש
                </a>
            </div>
            <table class="table table-hover table-stripped text-right">
                <thead>
                    <tr class="d-flex">
                        <td class="col-1"></td>
                        <td class="col-2">מזהה</td>
                        <td class="col-3">שם</td>
                        <td class="col-3">תאריכים</td>
                        <td class="col-3"></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var con in Model.Conventions)
                    {
                        <tr class="d-flex">
                            <td class="col-1">
                                @if (Model.Configuration.ActiveConventionId == con.Id)
                                {
                                    <i title="כנס פעיל" class="fa fa-fw fa-star" style="color: goldenrod"></i>
                                }
                            </td>
                            <td class="col-2">@con.Id.GetNumberFromId()</td>
                            <td class="col-3">@con.Name</td>
                            <td class="col-3">
                                @foreach (var day in con.Days.GroupBy(x => x.Key))
                                {
                                    <span>@day.Key.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</span><br />
                                }
                            </td>

                            <td class="col-3">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <div class="dropdown">
                                            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-sm btn-warning">
                                                <i class="fa fa-fw fa-pen"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="#"><i class="fa fa-fw fa-calendar"></i> עדכון תאריכים</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-fw fa-ticket-alt"></i> עדכון כרטיסים</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-fw fa-door-closed"></i> עדכון אולמות</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-fw fa-cog"></i> עדכון פרטים נלווים</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#"><i class="fa fa-fw fa-clone"></i> שכפל כנס זה</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#" onclick="SetActiveConvention('@con.Id')"><i class="fa fa-fw fa-star"></i> קבע ככנס פעיל</a>
                                            </div>
                                        </div>

                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" title="הצגת פרטים מלאים" class="btn btn-sm btn-info">
                                            <i class="fa fa-fw fa-info-circle"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade text-right" id="nav-settings" role="tabpanel" aria-labelledby="nav-profile-tab">
            <br />
            @{
                var activeCon = Model.Conventions.FirstOrDefault(x => x.Id == Model.Configuration.ActiveConventionId);
            }
            <div class="alert alert-primary" role="alert">
                <strong>כנס פעיל</strong> - @activeCon?.Name 
            </div>
            
            <div class="card">
                <div class="checkbox toggle-padding text-right">
                    <label class="label-control">
                        <input asp-for="Configuration.AllowEventsSuggestions" onchange="ToggleCheckbox(this, 'events')"
                               type="checkbox" class="bootstrap-toggle" data-toggle="toggle" data-on="<i class='fa fa-fw fa-check'></i>" data-off="<i class='fa fa-fw fa-times'></i>"
                               data-offstyle="danger" data-onstyle="success" data-width="50">
                    </label>
                    <span class="toggle-text">אפשר הצעת אירועים</span>
                </div>

                <div class="checkbox toggle-padding text-right">
                    <label class="label-control">
                        <input asp-for="Configuration.AllowEventsRegistration" onchange="ToggleCheckbox(this, 'registration-add')"
                               type="checkbox" class="bootstrap-toggle" data-toggle="toggle" data-on="<i class='fa fa-fw fa-check'></i>" data-off="<i class='fa fa-fw fa-times'></i>"
                               data-offstyle="danger" data-onstyle="success" data-width="50">
                    </label>
                    <span class="toggle-text">אפשר רישום לאירועים</span>
                </div>

                <div class="checkbox toggle-padding text-right">
                    <label class="label-control">
                        <input asp-for="Configuration.AllowEventsRegistrationChanges" onchange="ToggleCheckbox(this, 'registration-change')"
                               type="checkbox" class="bootstrap-toggle" data-toggle="toggle" data-on="<i class='fa fa-fw fa-check'></i>" data-off="<i class='fa fa-fw fa-times'></i>"
                               data-offstyle="danger" data-onstyle="success" data-width="50">
                    </label>
                    <span class="toggle-text">אפשר שינוי רישום לאירועים</span>
                </div>

                <div class="checkbox toggle-padding text-right">
                    <label class="label-control">
                        <input asp-for="Configuration.AllowPayments" onchange="ToggleCheckbox(this, 'tickets')"
                               type="checkbox" class="bootstrap-toggle" data-toggle="toggle" data-on="<i class='fa fa-fw fa-check'></i>" data-off="<i class='fa fa-fw fa-times'></i>"
                               data-offstyle="danger" data-onstyle="success" data-width="50">
                    </label>
                    <span class="toggle-text">אפשר רכישת כרטיסים</span>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-export" role="tabpanel" aria-labelledby="nav-contact-tab">
            עוד לא פעיל
        </div>
        <div class="tab-pane fade" id="nav-statistics" role="tabpanel" aria-labelledby="nav-contact-tab">
            עוד לא פעיל
        </div>
    </div>
</div>

@section scripts {
    <script>
        function SetActiveConvention(conId) {
            $.ajax({
                type: "POST",
                url: "/Management/Convention/SetActive?id=" + conId,
                data: conId,
                success: location.reload()
            });
        }

        function ToggleCheckbox(caller, type) {
            var val = (caller.checked);
            console.log(val);
            $.ajax({
                type: "POST",
                url: "/Management/Convention/ToggleType?type=" + type + "&value=" + val,
                error: function() {
                    Swal({
                        type: 'error',
                        title: 'שגיאה כללית',
                        text: 'אירעה שגיאה כללית - נא רעננו את העמוד ונסו שנית'
                    });
                } 
            });

        }
    </script>
}