@model DragonCon.Features.Participant.Account.PasswordChangeViewModel

<form method="post" asp-area="Participant" asp-controller="Personal" asp-action="ChangePassword" class="card-form">
    <div class="col">
        <div class="form-group">
            <label class="required">סיסמה נוכחית</label>
            <input value="@Model.OldPassword" name="OldPassword" type="password" class="form-control" aria-label="Checkbox for following text input" placeholder=" " required>

        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label class="required">סיסמה חדשה</label>
            <input value="@Model.newPassword" name="newPassword" type="password" class="form-control" aria-label="Checkbox for following text input" placeholder=" " required>

        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label class="required">סיסמה חדשה - אימות</label>
            <input value="@Model.ConfirmPassword" name="ConfirmPassword" type="password" class="form-control" aria-label="Checkbox for following text input" placeholder="" required>

        </div>
    </div>
    <label class="required"></label>
    <label>שדות חובה</label>

    <div class="row">
        <div class="form-group col-12 text-center">
            <button type="submit" class="btn dragon-btn"> החלפת סיסמה </button>
        </div>
    </div>

</form>
