@using System.Globalization
@using DragonCon.Modeling.Helpers
@model DragonCon.Features.Shared.DisplaySelectableEventsViewModel

@{
    ViewData["Title"] = "אירועי הכנס";
    var actor = Actor;
}


<div class="card card-gray-float" style="padding: 0;">
    <div class="card-body text-center">
        @if (Actor.DisplayConvention.Settings.AllowEventsRegistration)
        {
            <h2 class="text-bold text-success"><i class="fa fa-fw fa-ticket-alt"></i>&nbsp;&nbsp; הרישום המוקדם פתוח!</h2>
        }

        <h4>

            סמל לא מובן<i class="fa fa-fw fa-question"></i> אין בעיה - עברו עם העכבר או לחצו עליו.
        </h4>

        @await Html.PartialAsync("_PartialDisplayEventsTable", Model)

    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        function checkbox(id) {
            if ($("#event-check-" + id).is(':checked')) {

                $(".event-row-" + id).addClass("selected");
            } else {
                $(".event-row-" + id).removeClass("selected");
            }
        }
    </script>

}