@using System.Globalization
@using DragonCon.Modeling.Helpers
@model DragonCon.Features.Shared.DisplaySelectableEventsViewModel

@{
    ViewData["Title"] = "אירועי הכנס";
    var actor = Actor;
    ViewBag.HideFooter = true;
}

@await Html.PartialAsync("_PartialBack")

<div class="card card-gray-float" style="padding: 0;">
    <div class="card-body text-center">
        @if (Actor.DisplayConvention.Settings.AllowEventsRegistration)
        {
            <h2 class="text-bold">רישום אירועים עבור <span class="dragon-orange-color">@Model.RegisterForName</span></h2>
        }

        @await Html.PartialAsync("_PartialDisplayEventsTable", Model)



    </div>
</div>

<div class="card card-gray-fixed-bottom" style="padding: 0;">
    <div class="card-body text-center">

        <div class="row">
            <div class="col-4">
                <button type="submit"
                        style="font-size: 1.3em"
                        class="btn btn-success btn-save-just-margin">
                    שמירה
                </button>

            </div>
            <div class="col-8">
                <button type="submit"
                        style="font-size: 1.3em"
                        class="btn btn-success btn-save-just-margin text-bold">
                    שמירה ומעבר לתשלום <i class="fa fa-fw fa-chevron-left"></i>
                </button>
            </div>
        </div>
    </div>
</div>


<div style="height: 100px;"></div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        function checkbox(id) {
            if ($("#event-check-" + id).is(':checked')) {

                $(".event-row-" + id).addClass("selected");
            } else {
                $(".event-row-" + id).removeClass("selected");
            }
        }


        SetActiveMenu("nav-personal");
    </script>

}
