@using System.Globalization
@using DragonCon.Modeling.Helpers
@using DragonCon.Modeling.Models.Identities
@model DragonCon.Features.Participant.Personal.PersonalViewModel
@{
    ViewData["Title"] = "האזור האישי";
    var actor = Actor;
}

<div class="card card card-gray-float">
    <h3 class="card-title text-bold">
        <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
        &nbsp;
        במה אפשר לעזור?
    </h3>
    <div class="card-body" style="padding-top: 10px; padding-bottom: 10px;">
        <div class="card-deck">
            @if (Actor.DisplayConvention.Settings.AllowEventsRegistration ||
            (Actor.DisplayConvention.Settings.AllowManagementTests && Actor.HasAnySystemRole))
            {
                <div class="card  col-3 clickable " onclick="">
                    <div class="card-body text-center ">
                        <i class="fa fa-2x fa-fw fa-dice-d20" style="padding-bottom: 10px;"></i><br /><strong class="h4"> הרשמה<br />לאירועים</strong>
                    </div>
                </div>
            }

            @if (Actor.DisplayConvention.Settings.AllowEventsRegistration ||
            (Actor.DisplayConvention.Settings.AllowManagementTests && Actor.HasAnySystemRole))
            {
                <div class="card clickable  col-3">
                    <div class="card-body text-center ">
                        <i class="fa fa-2x fa-fw fa-ticket-alt"  style="padding-bottom: 10px;"></i><br /><strong class="h4"> רכישת<br />כרטיס</strong>
                    </div>
                </div>
            }

            @if (Actor.DisplayConvention.Settings.AllowEventsSuggestions ||
            (Actor.DisplayConvention.Settings.AllowManagementTests && Actor.HasAnySystemRole))
            {
                <div class="card clickable  col-3" onclick="SuggestEvent()">
                    <div class="card-body text-center ">
                        <i class="fa fa-2x fa-fw fa-shield-alt"  style="padding-bottom: 10px;"></i><br /><strong class="h4"> הגשת<br />אירוע</strong>
                    </div>
                </div>
            }

            <div class="card col-3">
                <div class="card-body text-center clickable" onclick="UpdateAccount()">
                    <i class="fa fa-2x fa-fw fa-user-cog"  style="padding-bottom: 10px;"></i><br /> <strong class="h4"> עדכון<br />פרטים</strong>
                </div>
            </div>

            @if (Actor.HasAnySystemRole)
            {
                <div class="card col-3 dragon-management-btn">
                    <div class="card-body text-center clickable" onclick="ViewManagement()">
                        <a asp-area="Management" asp-controller="Dashboard" asp-action="Index" style="color:white">
                            <i class="fa fa-2x  fa-fw fa-tools"  style="padding-bottom: 10px;"></i><br />  <strong class="h4"> איזור <br />הניהול</strong>
                        </a>
                    </div>
                </div>
            }


        </div>
    </div>
</div>


@await Html.PartialAsync("_PartialEngagement", Model.MyEngagement)

@foreach (var rel in Model.RelatedEngagements)
{
    @await Html.PartialAsync("_PartialEngagement", rel)
}

<div class="card card card-gray-float">
    <h3 class="card-title text-bold">
        <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
        &nbsp;
        איך עובד האיזור האישי?
    </h3>
    <ul class="fa-ul card-list">
        <li>
            @await Html.PartialAsync("_PartialBulletin")
            <strong>כשנפתח הרישום</strong> - נרשמים לאירועים שרוצים ושומרים בהם כסא עבורכם.
        </li>
        <li>
            @await Html.PartialAsync("_PartialBulletin")
            <strong>כשמוכנים לרכישה</strong> - רוכשים על הכרטיס המתאים לאירועים שבחרנו, עד פקיעת המועד לרישום מראש.
        </li>
        <li>
            @await Html.PartialAsync("_PartialBulletin")
            <strong>מספר רכישות</strong> - אפשר גם להרשם לאירועים ולרכוש כרטיס עבור חברים, בני משפחה או ילדים.
        </li>
        <li>
            @await Html.PartialAsync("_PartialBulletin")
            <strong class="text-danger">חשוב:</strong> לפני פקיעת המועד תצא הודעה מסודרת. כל האירועים שלא שילמו עליהם עד אז, יתפנו לבאי הכנס.
        </li>


    </ul>
</div>

@section scripts {
    <script>
        function UpdateAccount() {
            window.location.href = "/Participant/Personal/UpdateAccount";
        }

        function SuggestEvent() {
            window.location.href = "/Participant/Personal/SuggestEvent";
        }

        function ViewManagement() {
            window.location.href = "/Management";
        }

       

        SetActiveMenu("nav-personal");
    </script>
}