<span style="font-size: 1.2em">
    <a class="text-info" asp-area="Management" asp-controller="Reception" asp-action="Manage">
        <i class="fa fa-fw fa-chevron-circle-right"></i> חזרה לדלפק הקבלה
    </a>
</span>