<form class="search-results" asp-area="Management" asp-controller="Reception" asp-action="SearchParticipant">
    <div class="row">
        <div class="col-10">
            <input name="searchWords" class="form-control" placeholder="חיפוש לפי שם, דואל או טלפון" />
        </div>
        <div class="col-2">
            <button class="btn btn-filter btn-info" type="submit"><i class="fa fa-fw fa-search"></i> חיפוש</button>
        </div>
    </div>
</form>