<form asp-area="Management" asp-controller="Personal" asp-action="ManageSearch">
    <div class="row">
        <div class="col-10">
            <input name="searchWords" class="form-control" placeholder="חיפוש לפי שם אירוע או שם מנחה" />
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-filter btn-info"><i class="fa fa-fw fa-search"></i> חיפוש</button>
        </div>
    </div>
</form>