@model DragonCon.Features.Management.Participants.ParticipantsManagementViewModel

@{
    ViewBag.Title = "דלפק קבלה";
}

<div class="card card card-gray-float">
    <div class="card-body" style="padding-top: 10px; padding-bottom: 10px;">
        <h4 class="card-title text-bold">
            <i class="fa fa-fw fa-exclamation-circle"></i>
            &nbsp;
            פעולות
        </h4>
        <div class="card-deck" style="font-size: 1.4em;">
            <div class="card">
                <a asp-area="Management" asp-controller="Reception" asp-action="AddNewParticipant">
                    <div class="card-body text-center clickable">
                        <i class="fa fa-fw fa-user-plus"></i>&nbsp; <strong> הוספת משתתף חדש</strong>
                    </div>
                </a>
            </div>
            <div class="card">
                <a asp-area="Management" asp-controller="Reception" asp-action="SearchParticipant">
                    <div class="card-body  text-center clickable">
                        <i class="fa fa-fw fa-users"></i>&nbsp; <strong> חיפוש ועדכון משתתף</strong>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="card card card-gray-float">
    <div class="card-body" style="padding-top: 10px; padding-bottom: 10px;">
        <h4 class="card-title text-bold">
            <i class="fa fa-fw fa-question-circle"></i>
            &nbsp;
            מידע
        </h4>
        <div class="card-deck" style="font-size: 1.4em;">
            <div class="card">
                <a asp-area="Management" asp-controller="Reception" asp-action="AvailableEvents">
                <div class="card-body text-center clickable">
                    <i class="fa fa-fw fa-chair"></i> &nbsp; <strong> אירועים פנויים</strong>
                </div>
                </a>
</div>
            <div class="card">
                <a asp-area="Management" asp-controller="Reception" asp-action="SearchEvents">
                <div class="card-body text-center clickable">
                    <i class="fa fa-fw fa-book-reader"></i>&nbsp; <strong>רשימת כל האירועים</strong>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>



<div class="card card card-gray-float">
    <p class="card-body" style="padding-top: 10px; padding-bottom: 10px;">
        <h4 class="card-title text-bold">
            <i class="fa fa-fw fa-comment-dots"></i>
            &nbsp;
            הנחיות למתנדבים
        </h4>
    <p class="card-paragraph">

        <strong>מה עושים כשמגיע משתתף חדש ללא כרטיס?</strong>
        <br />
        לוחצים על "הוספת משתתף חדש" ועוקבים אחר סדר הפעולות - מידע משתתף, רישום לאירוע, בחירת כרטיס, ביצוע תשלום והדפסת הכרטיס.
        <br />
        <br />

        <strong>מה עושים כשמגיע משתתף שכבר רשום לכנס - ורוצה לשנות אירועים או חסר לו כרטיס?</strong>
        <br />
        לוחצים על "חיפוש ועדכון משתתף", מחפשים את המשתתף לפי שם או טלפון, ובחורים את הפעולה הרצויה מבין הפעולות האפשריות: שינוי רישום לאירועים, כרטיס ותשלום או הדפסת כרטיס.
        <br />
        <br />


        <strong>מה עושים כשמישהו שואל על מקומות פנויים באירועים?</strong>
        <br />
        לוחצים על "אירועים פנויים" ומקבלים את רשימת האירועים  אליהם עוד יש מקום פנוי לרישום.<br />
        לא יוצגו אירועים מלאים או אירועים שהסתיימו.
        <br />
        <br />


        <strong>מה עושים כשמישהו מבקש מידע על אירוע?</strong>
        <br />
        לוחצים על "חיפוש אירועים" וניתן לבצע חיפוש וסינון על האירועים.
        <br />
        <br />



        <strong>מה ההבדל בין משתמש קבוע למשתמש כנס?</strong>
        <br />
        בהכנסת כתובת דואר אלקטרוני למשתמש, יווצר לו משתמש קבוע, ותשלח לו סיסמת התחברות ראשונית. <br />
        רק משתמשיםקבועים יוכלו להתעדכן באיזור האישי שלהם באתר, ולהרשם עם אותו משתמש בכנסים עתדיים. <br />
        המשך רישום משתמש חדש מתבצע באותו אופן עבור כל סוגי המשתמשים
        <br />
        <br />



        <strong>מדוע הרשמה לאירוע נכשלה?</strong>
        <br />
        הרשמה לאירוע עשויה להכשל מהסיבות הבאות : <br />
        1. ניסינו להרשם לשני אירועים חופפים בזמנים <br />
        2. ניסינו להרשם לאירוע אך מספר המקומות הפנויים נגמר <br />
        3. ניסינו להרשם לאירוע שהסתיים

        <br />
        <br />
    </p>
</div>

@*<div class="card card-gray-float right-to-left">
        <div class="card-body">
            <div id="reception-add-participant" class="reception-fragment">
                <h4 class="card-title text-bold">
                    <i class="fa fa-fw fa-user-plus fa-flip-horizontal"></i>
                    &nbsp;
                    הוספת משתתף
                </h4>
                @await Html.PartialAsync("_PartialAddParticipant", new ParticipantCreateUpdateViewModel())
            </div>
            <div id="reception-search-participant" class="reception-fragment" hidden>
                <h4 class="card-title text-bold">
                    <i class="fa fa-fw fa-users fa-flip-horizontal"></i>
                    &nbsp;
                    חיפוש משתתפים
                </h4>
                @await Html.PartialAsync("_PartialSearchParticipant")
            </div>
            <div id="reception-available-event" class="reception-fragment" hidden>
                <h4 class="card-title text-bold">
                    <i class="fa fa-fw fa-chair fa-flip-horizontal"></i>
                    &nbsp;
                    אירועים פנויים
                </h4>
                @await Html.PartialAsync("_PartialAvailableEvents")
            </div>
            <div id="reception-search-event" class="reception-fragment" hidden>
                <h4 class="card-title text-bold">
                    <i class="fa fa-fw fa-book-reader fa-flip-horizontal"></i>
                    &nbsp;
                    חיפוש אירועים
                </h4>
                @await Html.PartialAsync("_PartialSearchEvents")
            </div>
        </div>
    </div>

    <div id="search-results" class="card card-gray-float right-to-left" hidden>
        <h4 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
            &nbsp;
            תוצאות חיפוש
        </h4>
        <div id="search-result-spinner" class="text-center" style="font-size: 2em;" hidden>
            <i class="fa fa-fw fa-spinner fa-spin"></i>
            &nbsp;&nbsp;טוען ...
        </div>

        <div class="card-body" id="search-results-html">

        </div>
    </div>

    @section Scripts {
        <script>
            $(".reception-option").click(function () {
                $(".reception-fragment").attr("hidden", true);
                var fragment = $(this).data("fragment");
                $("#" + fragment).removeAttr("hidden");
            });

            $(document).ready(function () {
                $('.search-results').on('submit', function (e) {
                    e.preventDefault(); // prevent native submit
                    $(this).ajaxSubmit({
                        beforeSubmit: function () {
                            $("#search-results").show();
                            $("#search-result-spinner").removeAttr("hidden");
                            window.onbeforeunload = function () {
                                return "האם לבטל חיפוש?";
                            };
                        },
                        success: function (response, status, request) {
                            window.onbeforeunload = null;
                            $("#search-result-spinner").attr("hidden", true);
                            if (response === undefined || response === null || response.length === 0) {
                                Swal.fire({
                                    type: 'error',
                                    title: 'תקלה',
                                    text: 'לא ניתן לטעון פרטים - נא לנסות שוב',
                                    confirmButtonText: 'אישור'
                                });
                                // something went wrong
                            } else {
                                $("#search-results-html").html(response);
                            }
                        },
                        error: function () {
                            window.onbeforeunload = null;
                            $("#search-result-spinner").attr("hidden", true);
                            Swal.fire({
                                type: 'error',
                                title: 'תקלה',
                                text: 'לא ניתן לטעון פרטים - נא לנסות שוב',
                                confirmButtonText: 'אישור'
                            });
                        }
                    });
                });
            });
        </script>
    }*@