@using System.Globalization
@using DragonCon.Modeling.Helpers
@using NodaTime
@using NodaTime.Extensions
@model DragonCon.Features.Management.Participants.ParticipantsManagementViewModel

@{
    ViewBag.Title = "דלפק קופות";
}

<div class="right-to-left">

</div>


@section Scripts {
    <script>

    </script>
}