@using System.Globalization
@using DragonCon.Modeling.Helpers
@using NodaTime
@using NodaTime.Extensions
@model DragonCon.Features.Management.Participants.ParticipantsManagementViewModel

@{
    ViewBag.Title = "דלפק קבלה";
}

    <div class="right-to-left">
        <div class="card card-margined card-gray-float">
            <div class="card-body">
                <h5 class="card-title"><i class="fa fa-fw fa-mouse-pointer"></i> פעולות נפוצות</h5>
                <div class="card-deck">

                    <div class="card">
                        <div class="card-body text-center clickable">
                            <i class="fa fa-fw fa-user-plus"></i> הוספת משתתף חדש
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body text-center clickable">
                            <i class="fa fa-fw fa-chair"></i> הצגת אירועים פנויים
                        </div>
                    </div>
                        <div class="card">
                            <div class="card-body text-center clickable">
                                <i class="fa fa-fw fa-ticket-alt"></i> הצגת משתתפים שלא שילמו
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <br />

        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link active" href="#">אירועים</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">משתתפים</a>
            </li>
        </ul>

    </div>


@section Scripts {
    <script>

    </script>
}