################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DragonCon
/packages
**/bin
**/obj
**/wwwroot
**/node_modules
/_NCrunch_DragonCon
