################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DragonCon
/packages
/DragonCon.App/bin
/DragonCon.App/obj
/DragonCon.Gateway/bin
/DragonCon.Gateway/obj
/DragonCon.Specs/bin
/DragonCon.Specs/obj
/DragonCon.Logical/bin
/DragonCon.Logical/obj
/DragonCon.Modeling/bin
/DragonCon.Modeling/obj
/DragonCon.Tests/bin
/DragonCon.Tests/obj