################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DragonCon
/packages
**/bin
**/obj
**/wwwroot
**/node_modules
/_NCrunch_DragonCon
/Dragoncon.App/Certificates
/Dragoncon.App/yarn-error.log
/Dragoncon.App/Logs/*.txt
/Dragoncon.App/.config/
