@using DragonCon.Modeling.Helpers
@using DragonCon.Modeling.Models.Identities
@{
    ViewData["Title"] = "דף הבית";
    var actor = Actor;
}

<h3>
    <span>
        @if (Actor.HasDisplayConvention)
        {
            @Actor.DisplayConvention.ConventionName
        }
    </span>
</h3>



