@{
    ViewData["Title"] = "תנאי שימוש באתר והצהרת פרטיות";
}

<br />
<div class="card card-margined right-to-left">
    <div class="card-body">
        <h5 class="card-title">כללי</h5>
        <p>
            אתר המשרתת של דרקוניקון (להלן: "דרקוניקון") מתייחס בכובד ראש, ובכבוד רב לפרטיות המשתמשים בו.
            <br />
            השימוש באתר, ובכלל זה בתכנים הכלולים בו ובשירותים שהוא מציע, מעיד על הסכמתך לתנאי השימוש והפרטיות וכן הוראות וכללים נוספים שייתכן ויוצגו בפנייך במהלך השימוש באתר.
            <br />
            מדיניות זאת מהווה חלק בלתי נפרד מתנאי השימוש באתר.
            <br />
            מדיניות זו מנוסחת בלשון זכר מטעמי נוחות בלבד, והיא חלה ופונה באופן זהה לכל המינים.
        </p>
    </div>
</div>

<div class="card card-margined right-to-left">
    <div class="card-body">
        <h5 class="card-title"> על קצה המזלג</h5>
        <p>
            אנחנו אוספים מידע באמצעות עוגיות ושיטות נוספות, על מנת לשפר את חווית השימוש באתר. עם זאת, אנחנו לא נעשה במידע הזה שום שימוש פרט לשימושו באתר, או רשימות התפוצה שלנו.
            <br />
            אנחנו אוספים מידע באמצעות עוגיות ושיטות נוספות, על מנת לשפר את חווית השימוש באתר. עם זאת, אנחנו לא נעשה במידע הזה שום שימוש פרט לשימושו באתר, או רשימות התפוצה שלנו.
            לא נעביר את המידע לגורם צד שלישי או נעשה בו שימוש אחר מלבד שיפור השירות שלנו.
            <br />
            התנהגו בצורה מכובדת ומכבדת, השתמשו באתר אך ורק למטרה לשמה הוא נועד.
            <br />
            אם אתה חושב שפרטיותך נפגעה במהלך שימוש באתר, אנא <a asp-area="Home" asp-controller="Convention" asp-action="Contact">פנה אלינו כאן</a>.
        </p>
    </div>
</div>



<div class="card card-margined">
    <div class="card-body">
        <h5>השימוש באתר</h5>
        <p>
            הנך רשאי להשתמש באתר, בתכניו ובשירותים הפועלים בו, בהתאם לכללים המפורטים להלן.
            <br/>
            אין להשתמש באתר, בתכניו ובשירותיו באופן אחר, אלא אם כן קיבלת את הסכמתו המפורשת של דרקוניקון לכך, מראש, בכתב ובכפוף לתנאי אותה הסכמה (ככל שתינתן) –
            <ul>
                <li>הנך רשאי להשתמש באתר לצרכים פרטיים, חינוכיים ואקדמיים בלבד ולמטרות שאינן מסחריות, אלא אם צוין במפורש אחרת</li>
                <li>אין להציג תכנים מהאתר בכל דרך שהיא – ובכלל זה באמצעות כל תוכנה, מכשיר, אביזר או פרוטוקול תקשורת המשנים את עיצובם או מחסירים מהם תכנים או מידע</li>
                <li>ייתכן ותמצא באתר קישורים לעמודים ותכנים שונים ברשת. מרבית התכנים אליהם יפנו הקישורים אינם מתפרסמים על ידי דרקוניקון, או מטעמו. העובדה שהאתר מקשר לתכנים אלה אינה מעידה על הסכמת דרקוניקון לתוכנם ואינה מהווה ערובה לאמינותם, לעדכניותם, לחוקיותם, לנוהגי בעלי התכנים בתחום הפרטיות ולכל היבט אחר הכרוך בתפעולם.</li>
            </ul>
            במסמכים המחייבים משמעות המונח "תוכן" או "תכנים" היא כל תוכן מילולי (Textual), חזותי (Visual), קולי (Audio), או כל שילוב שלהם (כגון סרטוני וידאו אודיו-ויזואליים) או חלק מהם וכן עיצובם, עיבודם, עריכתם ודרך הצגתם.


        </p>
    </div>
</div>

<div class="card card-margined">
    <div class="card-body">
        <h5 class="card-title">מסירת פרטים ומידע אישי</h5>
        <p>
            השימוש באתר אינו כרוך ברישום או במסירת פרטים ומידע אישי. עם זאת, אזורים שונים באתר, כגון האזור המיועד לרישום לכנסים ופעילות אישית, רישום לרשימות התפוצה של הכנס, יצירת קשר עם הכנס באמצעות טפסי קשר מקוונים המצויים באתר ועוד – עשויים להיות כרוכים ברישום ומסירת פרטים ומידע אישי, כגון שם מלא, כתובת דואר אלקטרוני, טלפון, תאריך לידה ופרטים נוספים לפי הצורך ונסיבות העניין.
        </p>
        <p>
            השדות שחובה למלא יסומנו במפורש. ללא מסירת הפרטים המתבקשים בשדות החובה לא תוכל להירשם באזור הרלוונטי באתר. עליך למסור רק פרטים נכונים, מדויקים ומלאים ואתה מאשר בזאת את נכונות הפרטים שמסרת. הפרטים והמידע האישי שתמסור, וכן פרטים נוספים אודות שימושך באתר (כמפורט בהמשך מדיניות זו) ישמרו על ידי אתר הכנס.

        </p>
        <p>
            אינך חייב על-פי חוק למסור את הפרטים והמידע האישי. מסירתם תלויה בהסכמתך וברצונך החופשי – אולם מסירת פרטים שגויים, או אי מסירת מלוא הפרטים הנדרשים, עלולים למנוע ממך את האפשרות להשלים את הרישום או להשתמש בחלק משירותי האתר, לפגוע באיכות השירות הניתן לך וכן לפגוע ביכולת ליצור איתך קשר, במידת הצורך.
        </p>
        <p>
            כאשר אתה מוסר מידע אישי של צד שלישי, אתה מצהיר כי קיבלת את הסכמתו המפורשת למסירת המידע לדרקוניקון, לשם השימוש במידע זה בהתאם למדיניות זו.
        </p>
    </div>
</div>

<div class="card card-margined">
    <div class="card-body">
        <h5 class="card-title">מידע שנאסף במהלך השימוש באתר</h5>
        <p>
            בעת שתשתמש באתר, עשוי דרקוניקון לאסוף מידע על נוהגיך ביחס לשימוש באתר, לרבות תכנים שטענת או פרסמת, מידע שקראת, העמודים שבהם צפית, השירותים שעניינו אותך, מקום המחשב ונתוני כתובת האינטרנט (IP address) שבאמצעותם ניגשת לאתר, סוג מערכת ההפעלה המשמשת אותך, סוג מכשיר הקצה שברשותך ועוד. בנוסף, דרקוניקון רשאי לאסוף ולהסתייע בשירותיהם של צדדים שלישיים כדי לאסוף ולנתח מידע אנונימי, סטטיסטי, או מצרפי (אגרגטיבי) בקשר עם השימוש באתר, לרבות מידע הנוגע לפעילותך באתר.
        </p>
    </div>
</div>


<div class="card card-margined">
    <div class="card-body">
        <h5 class="card-title">רשתות חברתיות ומידע אישי שאתה משתף</h5>
        <p>
            דרקוניקון מעמיד לרשות משתמשי האתר כלים לשיתוף וקישור תכנים מהאתר באמצעות רשתות חברתיות ושירותים מקוונים שונים. תשומת לבך כי השימוש ברשתות חברתיות ושירותים מקוונים כאמור הוא חיצוני ונפרד לאתר וכפוף לנוהגי הפרטיות של אותם שירותים. מדיניות זו אינו חלה על פעילותן של רשתות חברתיות אלו או כל שירות מקוון המופעל על-ידי צד שלישי.
        </p>
    </div>
</div>


<div class="card card-margined">
    <div class="card-body">
        <h5 class="card-title">השימוש במידע</h5>
        <p>
            בפרטים ובמידע האישי שתמסור ובפרטים שיאסוף דרקוניקון במהלך השימוש שתעשה באתר, ייעשה שימוש בהתאם להוראות מדיניות זו או על פי הוראות כל דין, למטרות הבאות –
        </p>
        <p>
            <ul>
                <li>כדי לאפשר לך להשתמש באתר, בתכנים הכלולים בו ובשירותים שהוא מציע</li>
                <li>כדי לזהות אותך במהלך כניסות חוזרות שלך לאזורים הטעונים הרשמה וכדי לחסוך ממך להזין בכל פעם את פרטיך</li>
                <li>כדי לשפר ולהעשיר את השירותים והתכנים באתר ובכלל זה ליצור שירותים ותכנים חדשים המתאימים לדרישות המשתמשים וציפיותיהם וכן לשנות או לבטל שירותים ותכנים קיימים. המידע שישמש את דרקוניקון לצורך כך יהיה בעיקרו מידע סטטיסטי, שאינו מזהה אותך אישית</li>
                <li>כדי לאפשר לך להתאים את השירותים באתר להעדפותיך;</li>
                <li>כדי לשלוח אליך מעת לעת מידע בדבר שירותיו ותכניו של האתר, פעילויות בקשר אליו ואל דרקוניקון, סקרים, עלוני מידע וכיו"ב. מידע כאמור עשוי להיות פרסומי באופיו והוא עשוי להישלח אליך באמצעות מסרונים (SMS), הודעות דוא"ל, או בדרך אלקטרונית אחרת</li>
                <li>ליצירת קשר איתך כשדרקוניקון סבור שקיים צורך בכך</li>
                <li>לצורך ניתוח, בקרה ומסירת מידע סטטיסטי לצדדים שלישיים. מידע זה לא יזהה אותך אישית</li>
                <li>לשם תפעולו התקין ופיתוחו של האתר</li>
                <li>כדי לאכוף את תנאי השימוש באתר, על-מנת למלא אחר דרישות כל חוק, תקנה או דבר חקיקה אחר וכן על-מנת לסייע לרשויות מוסמכות ולכל צד שלישי, כשדרקוניקון סבור בתום-לב כי עליו לעשות כן;לכל מטרה אחרת, המפורטת במדיניות פרטיות זו או בתנאי השימוש.</li>
            </ul>
        </p>
    </div>
</div>



<div class="card card-margined">
    <div class="card-body">
        <h5 class="card-title">
            מסירת מידע לצדדים שלישיים
        </h5>
        <p>
            דרקוניקון לא יעביר לצדדים שלישיים את המידע האישי שמסרת והפרטים שנאספו על פעילותך באתר, אלא במקרים שלהלן –
        </p>
        <p>
            <ul>
                <li>ככל שהדבר דרוש לצורך אספקה תקינה של שירותי האתר</li>
                <li>אם תפר את הוראות תנאי השימוש באתר, או אם תבצע באמצעות האתר, או בקשר עמו, פעולות הנחזות על ידי דרקוניקון כמנוגדות לדין או ניסיון לבצע פעולות כאלה</li>
                <li>אם יתקבל בידי דרקוניקון צו שיפוטי, או דרישה של רשות המוסמכת לכך, המורה לו למסור את פרטיך או את המידע אודותיך לצד שלישי</li>
                <li>בכל מחלוקת, טענה, תביעה, דרישה או הליכים משפטיים, אם יהיו, בינך לבין דרקוניקון ו/או מי מטעמו</li>
                <li>בכל מקרה שדרקוניקון יסבור כי מסירת המידע נחוצה כדי למנוע נזק חמור לגופך או לרכושך או לגופו או לרכושו של צד שלישי</li>
                <li>לצורך מסירת ושיתוף מידע אנונימי, מצרפי וסטטיסטי עם חברות או ארגונים אחרים הקשורים בדרקוניקון וכן עם ספקים, שותפים עסקיים, מפרסמים וכל צד שלישי, בהתאם לשיקול דעתו הבלעדי של דרקוניקון. דרקוניקון לא יחשוף בפניהם ביודעין את זהותך ללא הסכמתך</li>
                <li>אם דרקוניקון יארגן את פעילותו או את פעילות האתר במסגרת אחרת וכן במקרה שישנה את מבנהו המשפטי, לרבות במקרה בו יעביר פעילות האתר ו/או כל חלק ממנו לצד שלישי – הוא יהיה זכאי להעביר לגוף החדש העתק מן המידע שנאגר אודותיך ובלבד שגוף זה יקבל על עצמו כלפיך את הוראות מדיניות זו על-פי בקשתך המפורשת.</li>
            </ul>
        </p>
    </div>
</div>




<div class="card card-margined">
    <div class="card-body">
        <h5 class="card-title">
            היכן נשמר המידע?
        </h5>
        <p>
            המידע שדרקוניקון אוסף נשמר במאגר המידע שלו, המאוחסן אצל ספקי אירוח שרתים וגיבוי מידע, שעשויים להימצא גם מחוץ לגבולות ישראל. מידע נוסף, כפי שמפורט במדיניות זו נאסף ונשמר על ידי חברות אחרות (כדוגמת חברות סטטיסטיקה וכיו"ב). אף הן יכולות לשמור את המידע מחוץ לגבולות המדינה. הסכמתך למדיניות זו, מהווה גם הסכמה לשמירת המידע בחו"ל ולהעברתו מחוץ לגבולות ישראל.
        </p>
    </div>
</div>

<div class="card card-margined">
    <div class="card-body">
        <h5 class="card-title">
            עוגיות ו-Cookies
        </h5>
        <p>
            דרקוניקון עשוי להשתמש באתר ב'עוגיות' (Cookies) לצורך תפעולו השוטף והתקין, לרבות כדי לאסוף נתונים סטטיסטיים אודות השימוש באתר, לאימות פרטים, כדי להתאים את האתר להעדפותיך האישיות, לצרכי אבטחת מידע ועוד.

        </p>
        <p>
            'עוגיות' (Cookies) הן קבצי טקסט, שהדפדפן שלך יוצר לפי פקודה ממחשבי האתר. חלק מהעוגיות יפקעו כאשר תסגור את הדפדפן ואחרות נשמרות על גבי הכונן הקשיח במכשיר הקצה המשמש אותך. ה-Cookies יכולים להכיל מידע מגוון כדוגמת הדפים שבהם ביקרת, משך הזמן ששהית באתר, מהיכן הגעת אל האתר, מדורים, מידע שאתה מבקש לראות בעת הכניסה לאתר ועוד.

        </p>
        <p>
            דרקוניקון נעזר בנוסף גם ב-Cookies שמקורם בצדדים שלישיים, בהם Google Analytics, שירותי הפרסום של חברת גוגל, ורשתות חברתיות כגון פייסבוק. קבצי העוגיות נועדו עבור הצגת מודעות בדבר מוצרים או שירותים בהתבסס על פעילויותיך השונות ברחבי האינטרנט ואתרים ושירותים אחרים בהם ביקרת (בשיטה המכונה Retargeting). בנוסף, קבצי ה-Cookies שמקורם בפייסבוק נועדו להציג לך מידע באתר שמקורו בפייסבוק, לסמן תכנים ש'אהבת', להמליץ לך על תכנים אחרים שעשויים לעניין אותך ועוד.
        </p>
    </div>
</div>


<div class="card card-margined">
    <div class="card-body">
        <h5 class="card-title">
            אבטחת מידע
        </h5>
        <p>
            דרקוניקון מייחס חשיבות עליונה לאבטחת המידע במערכותיו. לשם שמירת המידע, הוא מפעיל מערכות, יישומים ונהלים לאבטחת המידע, המיועדים למזער את הסיכונים מפני גניבה, פגיעה, אובדן או גישה בלתי מורשית למידע.
        </p>
        <p>


            עם זה, אין וודאות שיישומים אלה מבטיחים באופן מוחלט שמידע אישי לא ייחשף או ייגנב ממאגרי המידע. לכן, דרקוניקון אינו מתחייב, ואינך יכול באופן סביר לצפות לכך, שהשירותים ומערכות המידע המשמשות יהיו חסינים מפני גישה בלתי-מורשית למידע המאוחסן בהם. בעצם השימוש באתר ובשירותיו, אתה מודע ומסכים למגבלות אלו.


        </p>
    </div>
</div>



<div class="card card-margined">
    <div class="card-body">
        <h5 class="card-title">
            שינויים במדיניות הפרטיות
        </h5>
        <p>
            דרקוניקון רשאי לשנות מעת לעת את תנאי מדיניות הפרטיות. אם יבוצעו במדיניות שינויים מהותיים, תפורסם על-כך הודעה בעמוד הבית של האתר 30 ימים לפני כניסת השינויים לתוקף. אם יבוצעו במדיניות שינויים אחרים שאינם מהותיים, תפורסם על-כך הודעה בעמוד הבית של האתר 7 ימים לפני כניסתם לתוקף – זאת אלא אם יבוצעו שינויים במדיניות בהתאם להוראות כל דין, או דרישת רשות מוסמכת, שאז השינויים ייכנסו לתוקף בהתאם להוראות הדין או לדרישה כאמור. המשך השימוש באתר לאחר השינוי במדיניות מעיד על הסכמתך למדיניות המתוקנת. אם אינך מסכים עם הנוסח המעודכן של המדיניות, עליך לחדול מלעשות שימוש נוסף באתר.
        </p>
        <p>
            בכל עת תוכל לעיין במדיניות העדכנית באמצעות לחיצה על הקישור המתאים באתר.
        </p>
    </div>
</div>





<div class="card card-margined">
    <div class="card-body">
        <h5 class="card-title">
            תודות
        </h5>
        <p>
            מדינות הפרטיות של דרקוניקון מבוססת על מדיניות הפרטיות של
            <a target="_blank" href="https://www.isoc.org.il/about/privacy-policy">איגוד האינרטנט הישראלי</a>
        </p>
    </div>
</div>

<br />