@using System.Globalization
@using DragonCon.Modeling.Helpers
@model DragonCon.Features.Management.Participants.ParticipantCreateUpdateViewModel
@{
    var isUpdated = Model.Id != null;
    var iShortTerm = Model.Email.IsEmptyString();

    ViewBag.Title = isUpdated ? "עריכת משתתף" : "הוספת משתתף";
}


@section Subheader {
    <a class="text-info" asp-area="Management" asp-controller="Participants" asp-action="Manage"><i class="fa fa-fw fa-chevron-circle-right"></i> חזרה לניהול משתתפים</a>
}


<div class="card card-gray-float">
    <div class="card-body">
        <form asp-area="Management" asp-controller="Participants" asp-action="CreateUpdateParticipant"
              method="post" class="right-to-left card-form" style="padding: 10px;">
            <input name="Id" value="@Model.Id" hidden />
            <div class="col">
                <div class="form-group">
                    <label>שם מלא</label>
                    <input asp-for="FullName" class="form-control" placeholder="שם מלא ">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>טלפון</label>
                    <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="טלפון ">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>שנת לידה </label>
                    <br />
                    <input class="combo-date" asp-for="YearOfBirth" value="@Model.YearOfBirth"
                           data-custom-class="form-control form-control-inline"
                           data-first-item="empty"
                           data-format="YYYY"
                           data-template="YYYY">
                </div>
            </div>
            @if (isUpdated == false || iShortTerm == false)
            {
                    <div class="col">
                        <br />
                        <div class="input-group">
                            @{
                                var isLocked = isUpdated ? "readonly" : "";
                            }

                            <input @isLocked name="Email" value="@Model.Email" type="email" class="form-control" aria-label="Checkbox for following text input" placeholder="דואר אלקטרוני ">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" asp-for="IsAllowingPromotions.Value" aria-label="Checkbox for following text input">
                                    <span class="toggle-text">צירוף לרשימת דיוור</span>
                                </div>
                            </div>
                        </div>
                        @if (isUpdated)
                        {
                            <lable class="text-danger">* לא ניתן לשנות כתובת דואר אלקטרוני של משתתף</lable>
                        }
                        else
                        {
                            <lable class="text-danger">* בהזנת דואר אלקטרוני יווצר משתמש קבוע ותשלח סיסמת התחברות ראשונית</lable>
                        }
                        <br />
                        <br />
                    </div>
                <br />
            }

            <div class="row">
                <div class="col-3">
                    <button type="submit" class="btn btn-primary btn-save-just-margin"> שמירה </button>
                </div>
                <div class="col-9">
                    <button type="submit" class="btn btn-success btn-save-just-margin"> שמירה ורישום לאירועים <i class="fa fa-fw fa-angle-double-left"></i></button>
                </div>
            </div>

        </form>
    </div>
</div>
