.filter-container {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
    background: #f7f7f773;
    border: 1px solid #adadad;
    border-radius: 5px;
}

.card-margined {
    margin: 20px;
}