.right-to-left {
    direction: rtl;
    text-align: right !important;
}

.dropdown-item {
    text-align: right;
}


/*.image-background {
    background-image: url(/images/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}*/

/*.ripple-background {
    background-image: url(/images/ripples.png);
    background-color: #d9ebff;
    background-position: center;
    background-repeat: repeat;
    background-blend-mode: multiply;
}*/

.Title-Text {
    direction: rtl;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-dragon {
    background-color: #000000;
}

    .navbar-dragon a {
        line-height: 80px;
}

    .navbar-dragon .navbar-brand {
        color: #fff;
    }

        .navbar-dragon .navbar-brand:hover, .navbar-dragon .navbar-brand:focus {
            color: #fff;
        }

    .navbar-dragon .navbar-nav .nav-link {
        color: rgb(255, 255, 255);
    }

        .navbar-dragon .navbar-nav .nav-link:hover, .navbar-dragon .navbar-nav .nav-link:focus {
            color: rgb(255, 255, 255);
        }

        .navbar-dragon .navbar-nav .nav-link.disabled {
            color: rgba(255, 255, 255, 0.25);
        }

        .navbar-dragon .navbar-nav .show > .nav-link,
        .navbar-dragon .navbar-nav .active > .nav-link,
        .navbar-dragon .navbar-nav .nav-link.show,
        .navbar-dragon .navbar-nav .nav-link.active {
            background-color: #ff7600;
            font-weight: bold;
            color: #fff;
        }



    .navbar-dragon .navbar-toggler {
        color: rgba(255, 255, 255, 0.5);
        border-color: rgba(255, 255, 255, 0.1);
    }

    .navbar-dragon .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-dragon .navbar-text {
        color: rgba(255, 255, 255, 0.5);
    }

        .navbar-dragon .navbar-text a {
            color: #fff;
        }

            .navbar-dragon .navbar-text a:hover, .navbar-dragon .navbar-text a:focus {
                color: #fff;
            }

.body-content {
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    min-height: 500px;
}

    .body-content.no-background {
        background: none !important;
    }

.list-divider {
    border-bottom: 1px solid #cecece6e;
    width: 80%;
    margin-right: 19px;
}

.toggle-off.btn {
    padding-left: 12px;
}

.toggle-on.btn {
    padding-right: 12px;
}

.checkbox label .toggle, .checkbox-inline .toggle {
    margin-left: 0;
}

.toggle-text {
    padding-right: 10px;
}

.card .nav-item {
    font-size: 1.25rem;
}

.card .card-semibutton {
    font-size: 1.25rem;
}

.card.card-gray-float {
    border: none;
    -ms-border-radius: 0;
    margin-top: 15px;
    margin-bottom: 25px;
    border-radius: 0;
    padding: 22px;
    background: #f7f7f7;
    box-shadow: 0px 7px 47px -21px rgba(0, 0, 0, 0.3);
}

.card.card-orange {
    border: none;
    -ms-border-radius: 0;
    margin-bottom: 5px;
    border-radius: 0;
    padding: 15px;
    border-top: #ffd6b3 1px solid;
    border-bottom: #ffd6b3 1px solid;
    background-color: #ffffff65;
}


.card-paragraph {
    font-size: 1.4em;
    line-height: 1.85;
    padding-top: 10px;
}

.card-form {
    font-size: 1.2em;
}

    .card-form .form-control {
        font-size: 0.9em;
    }

    .card-form .chosen-container {
        font-size: 13px;
    }

    .card-list > li {
        font-size: 1.4em;
    }

    .card-list > li > span {
        right: -2em;
        left: auto;
    }

        .card-list > li > span > i {
            color: #ff7600;
            font-size: 0.65em;
        }



        .card-table {
            font-size: 1.4em;
        }