@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>



<iFrame src="http://www.dragoncon.co.il/index.html" scrolling="no" width="100%" height="2650px">

</iFrame> 