<hr />
<footer>
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link">
                &copy; אתר דרקוניקון @DateTime.Today.Year
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link"
               asp-area="Home"
               asp-controller="Convention"
               asp-action="Contact">התנדבות ויצירת קשר</a>
        </li>

        <li class="nav-item">
            <a class="nav-link"
               asp-area="Home"
               asp-controller="Convention"
               asp-action="Usage">תנאי שימוש ופרטיות</a>
        </li>

        <li class="nav-item">
            <a class="nav-link"
               asp-area="Home"
               asp-controller="Convention"
               asp-action="About">על הכנס והאתר</a>
        </li>
    </ul>
</footer>