<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/lib/moment/moment.js" asp-append-version="true"></script>
<script src="~/lib/popper.js/dist/umd/popper.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-toggle/js/bootstrap-toggle.min.js" asp-append-version="true"></script>
<script src="~/lib/sweetalert2/dist/sweetalert2.min.js" asp-append-version="true"></script>
<script src="~/lib/pickadate/lib/picker.js" asp-append-version="true"></script>
<script src="~/lib/pickadate/lib/picker.date.js" asp-append-version="true"></script>
<script src="~/lib/pickadate/lib/picker.time.js" asp-append-version="true"></script>
<script src="~/lib/chosen-js/chosen.jquery.min.js" asp-append-version="true"></script>
<script src="~/lib/select2/dist/js/select2.full.min.js" asp-append-version="true"></script>

<script src="~/lib/jquery-form/dist/jquery.form.min.js" asp-append-version="true"></script>
<script src="~/lib/@@splidejs/splide/dist/js/splide.min.js" asp-append-version="true"></script>
<script src="~/js/site.min.js" asp-append-version="true"></script>
<script>
    $(document).ready(function () {
        showSystemSuccess();
        showSystemError();

        setupToggles();
        setupPickers();
        setupChosen();
        setupSelect2();
        setupOpenTab();
        setupSplide();
    });

    function showSystemError() {
        var errorTitle = $("#system_error_title").val();
        if (errorTitle !== null && errorTitle !== undefined && errorTitle !== "") {
            var errorDesc = $("#system_error_description").val();
            Swal.fire({
                type: 'error',
                title: errorTitle,
                text: errorDesc,
                footer: '<a href="/convention/home#tag_contactus" class="dragon-organge-color">הבעיה ממשיכה? פנו אלינו!</a>'
            });

        }
    }


    function showSystemSuccess() {
        var successTitle = $("#system_success_title").val();
        if (successTitle !== null && successTitle !== undefined && successTitle !== "") {
            var successDesc = $("#system_success_description").val();
            Swal.fire({
                type: 'success',
                title: successTitle,
                text: successDesc
            });

        }
    }

    function setupSplide() {
        setupRegularSplide();
    }

    function openInNewTab(url) {
        var win = window.open(url, '_blank');
        win.focus();
    }


    function setupRegularSplide() {
        var $item = $(".splide");
        if ($item === undefined || $item === null || $item.length === 0) {
            return;
        }

        var element = new Splide('.splide',
            {
                rewind: true,
                cover: true,
                heightRatio: 0.5,
                autoplay: true,
                interval: 5000,
                pagination: false,
                lazyLoad: "nearby"
            });

        element.mount();
    }

    function setupOpenTab() {
        var $tab = $("#helper-tab").val();
        if ($tab != null && $tab !== "") {
            $(".nav-item").removeClass("active");
            $(".nav-link").removeClass("active");
            $("#nav-item-" + $tab).addClass("active");

            $(".tab-pane").removeClass("active");
            $(".tab-pane").removeClass("show");

            $("#tab-pane-" + $tab).addClass("active");
            $("#tab-pane-" + $tab).addClass("show");

            $("#nav-item-" + $tab).tab("show");
        }
    }

    function setupToggles() {
        $('.bootstrap-toggle').bootstrapToggle();
    }

    function setupChosen() {
        $('.chosen-select').chosen({
            disable_search_threshold: 10,
            inherit_select_classes: true,
            include_group_label_in_selected: true,
            rtl: true,
            width: "100%"
        });
        $('.chosen-select').removeClass('chosen-select');
    }
    
    function setupSelect2() {
        $('.select2').select2();

    }

    function setupPickers() {
        $('.datepicker').pickadate({
            clear: '',
            today: '',
            monthsFull: ['ינואר', 'פברואר', 'מרץ', 'אפריל', 'מאי', 'יוני', 'יולי', 'אוגוסט', 'ספטמבר', 'אוקטובר', 'נובמבר', 'דצמבר'],
            weekdaysShort: ['א', 'ב', 'ג', 'ד', 'ה', 'ו', 'ש'],
            format: 'dd/mm/yyyy',
            formatSubmit: 'dd/mm/yyyy'
        });
        $('.timepicker').pickatime(
            {
                min: [7, 00],
                max: [23, 00],
                clear: '',
                format: 'HH:i'
            });
    }
</script>