@if (Actor.HasDisplayConvention)
{
    var convention = Actor.DisplayConvention;
    @convention.Location
    <br />

    <span>להוסיף דרכי הגעה</span><br />
    <span>להוסיף נוסף מיקום</span><br />
    <span>להוסיף מפה</span>
}