<div hidden>
    <input id="system_error_title" value="@ViewBag.ErrorTitle" />
    <input id="system_error_description" value="@ViewBag.ErrorDescription" />
</div>
<div hidden>
    <input id="system_success_title" value="@ViewBag.SuccessTitle" />
    <input id="system_success_description" value="@ViewBag.SuccessDescription" />
</div>