@if (Actor.HasDisplayConvention)
{
    var convention = Actor.DisplayConvention;
    @convention.Location
    <br />

    <span>להוסיף דרכי הגעה</span>
    <span>להוסיף נוסף מיקום</span>
    <span>להוסיף מפה</span>
}