<div class="card-deck dragon-organge-color">

    <div class="card">
        <div class="card-body text-center clickable">
            <h4 class="text-bold">
                <i class="fa fa-2x fa-fw fa-users"></i>
                <br />
                <br />
                מידע למבקר
            </h4>

        </div>
    </div>
    <div class="card">
        <div class="card-body text-center clickable">
            <h4 class="text-bold">
                <i class="fa fa-2x fa-fw fa-users"></i>
                <br />
                <br />
                אירועי הכנס
            </h4>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center clickable">
            <h4 class="text-bold">
                <i class="fa fa-2x fa-fw fa-users"></i>
                <br />
                <br />
                הנחיה והתנדבות
            </h4>
        </div>
    </div>
</div>