<div class="card-deck ">
    <div class="card">
        <div class="card-body text-center clickable">
            <a class="dragon-organge-link" asp-area="Convention" asp-controller="Home" asp-action="Info" asp-fragment="tag_tickets">
                <h4 class="text-bold">
                    <i class="fa fa-2x fa-fw fa-ticket-alt"></i>
                    <br />
                    <br />
                    מחירון
                </h4>
            </a>

        </div>
    </div>
    <div class="card">
        <div class="card-body text-center clickable">
            <a class="dragon-organge-link" asp-area="Convention" asp-controller="Home" asp-action="Info" asp-fragment="tag_freebies">
                <h4 class="text-bold">
                    <i class="fas fa-2x fa-fw fa-dice-d20"></i>
                    <br />
                    <br />
                    אירועים חופשיים
                </h4>
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center clickable">
            <a class="dragon-organge-link" asp-area="Convention" asp-controller="Home" asp-action="Info" asp-fragment="tag_shops">

                <h4 class="text-bold">
                    <i class="fa fa-2x fa-fw fa-box-open"></i>
                    <br />
                    <br />
                    מתחם דוכנים
                </h4>
            </a>
        </div>
    </div>
</div>
<br/>
<div class="card-deck ">
    <div class="card">
        <div class="card-body text-center clickable">
            <a class="dragon-organge-link" asp-area="Convention" asp-controller="Home" asp-action="Info" asp-fragment="tag_stands">
                <h4 class="text-bold">
                    <i class="fa fa-2x fa-fw fa-info"></i>
                    <br />
                    <br />
                    עמדות לקהל
                </h4>
            </a>

        </div>
    </div>
    <div class="card">
        <div class="card-body text-center clickable">
            <a class="dragon-organge-link" asp-area="Convention" asp-controller="Home" asp-action="Info" asp-fragment="tag_register">
                <h4 class="text-bold">
                    <i class="fas fa-2x fa-fw fa-signature"></i>
                    <br />
                    <br />
                    רישום לכנס
                </h4>
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center clickable">
            <a class="dragon-organge-link" asp-area="Convention" asp-controller="Home" asp-action="Info" asp-fragment="tag_location">

                <h4 class="text-bold">
                    <i class="fa fa-2x fa-fw fa-location-arrow"></i>
                    <br />
                    <br />
                    מיקום והגעה
                </h4>
            </a>
        </div>
    </div>
</div>