@using System.Globalization
@{
    ViewData["Title"] = "אודות איי הסערה";
}

<div class="card card-gray-float">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-orange-color"></i>
            &nbsp;
            מה זה משחקי תפקידים?
        </h3>
        <p class="card-paragraph">
            משחקי תפקידים הם משחקים המתרחשים לחלוטין בדמיון השחקנים, וניתן לדמות אותם לצורה של תיאטרון חי או סיפורים סביב המדורה. קבוצת שחקנים יושבת סביב שולחן וכל שחקן מגלם דמות אותה הגדיר וכתב מראש – האופי שלה, הרקע, הפחדים, האהבות והתכונות השונות. אחד המשתתפים הוא המנחה אשר אחראי לגלם את דמויות שאינן בשליטת השחקנים ולהציג בפני השחקנים את העולם, העלילה והאירועים. המנחה מכין מראש קו עלילתי מרתק, אותו הוא מעביר לשחקנים.<br /><br />
            ביחד יוצרים המשתתפים סיפור משותף – המנחה מתאר לשחקנים את המתרחש, ואילו השחקנים מגלמים את הדמויות שלהן ומחליטים כיצד להגיב, בהתאם. אט אט הסיפור מתפתח וממשיך הלאה. משחקי תפקידים מעודדים שיתוף פעולה, חברות, דמיון, קריאה, יצירתיות ומפתחים את האישיות ואת הכישורים התיאטרליים והחברתיים של המשתתפים.<br /><br />
            המשתתפים מרחיבים את הידע הכללי שלהם דרך המשחק ומעשירים את עצמם תוך כדי שהם מפתחים את המשחק שלהם. רוב משחקי התפקידים מתרחשים בעולמות פנטזיה בסגנון מבוכים ודרקונים או שר הטבעות, אולם ישנם משחקים בכל ז`אנר שניתן לדמיין - החל במדע בדיוני, דרך הארי פוטר וכלה במשחקים המשחזרים אירועים היסטוריים.<br /><br />
            משחק התפקידים המפורסם בעולם הוא "מבוכים ודרקונים", אשר התפרסם לפני יותר מארבעים שנה, והושפע מאוד מתרבות הפנטסיה שהוקמה סביב טרילוגיית ספרי שר הטבעות. פאת'פיינדר הוא היורש הרוחני של מבוכים ודרקונים 3.5, שתורגם לעברית ויצאו לו הרפתקאות והרחבות מבית הפונדק הוצאה לאור.
        </p>
    </div>
</div>


<div class="card card-gray-float">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-orange-color"></i>
            &nbsp;
            מה זה איי הסערה?
        </h3>
        <p class="card-paragraph">
            איי הסערה הוא עולם מערכה פנטסטי, המיועד לשימוש עם מבוכים ודרקונים, המעניק רקע עשיר למשחק שלכם. בואו לשחק את הגיבור או הנבל שתמיד רציתם, ולטוות את סיפורכם ביחד עם אלפים, דרקונים, שדים ומלכים.<br /><br />
            היבשת העתיקה, אנוריאר, הופרדה משאר העולם ונקרעה לגזרים במלחמת התוהו. כיום מוקפים איי הסערה בסופה נצחית של תוהו טהור, המפרידים אותם משאר העולם. כך, גם אם אתם משחקים בעולם מערכה אחר, תוכלו בקלות לשלב את איי הסערה במשחק שלכם כקבוצת איים מסתורית שאיש לא חקר אותה מזה עידנים.
        </p>
        <br />
        <h4 class="text-bold">
            מזימות אפלות ותככים
        </h4>
        <p class="card-paragraph">
            לפעמים חרב ולחש לא מספיק להציל את עורכם. באיי הסערה התככים הם רבים, וידידים הם לפעמים האויבים המרים ביותר. ארגונים רבים, טובים ומרושעים כאחד, עסוקים בטוויית מזימות מאחורי הקלעים. הזדמנויות רבות מחכות לאלו האמיצים מספיק לצאת מהמבוכים אל תוך הערים וחצרות המלכים.
        </p>
        <br />
        <h4 class="text-bold">
            עולם מלא בפלאים
        </h4>
        <p class="card-paragraph">
            ארמון הקנדלברה על אורותיו הקסומים נבנה על האי שמחבר את שתי פריהולד יחדיו, מטרופולין שוקק חיים והזדמנויות. ערים מופלאות של הקיסרות האלפית, שנאבדו מתחת לים, ממתינות לחוקר הנועז. האי המקולל הוא מעוז כוחו המתפוגג של התוהו, שונה מכל דבר שהכרתם. זהו רק קצה הקרחון למקומות המופלאים שתגלו, אם אתם משחקים באיי הסערה.
        </p>
        <br />
        <h4 class="text-bold">
            עת של גיבורים
        </h4>
        <p class="card-paragraph">
            איי הסערה נבנה כעולם המיועד לגיבורים, שיחזיקו בידם את הכוח לשנות אותו - אלו הם הדמויות שלכם! היום, איי הסערה מתאוששים ממלחמת התוהו שארעה לפני 150 שנה, והרסה את העולם. זהו עידן חדש בו האיים נמצאים במאבק בין הטוב לרע, בין התרבות והאבדון. בזמן זה אין דבר שזקוקים לו יותר מאשר גיבורים.
        </p>
        <p class="card-paragraph">
            עוד פרטים על איי הסערה? בקרו באתר של <a href="http://publishing.pundak.co.il/">הפונדק הוצאה לאור</a>!
        </p>
    </div>
</div>


<div class="card card-gray-float">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-orange-color"></i>
            &nbsp;
            הספרים של איי הסערה
        </h3>
        <hr />
        <ul class="list-unstyled">
            <li class="media">
                <img class="storms-image mr-3"
                     src="http://publishing.pundak.co.il/gallery/Heroes-storm-cover.jpg" alt="גיבורי הסערה">
                <div class="media-body">
                    <h3 class="mt-0 mb-1 text-bold">גיבורי הסערה</h3>
                    <h4>
                        ספר הרחבה לשחקנים של פאת'פיינדר
                    </h4>
                </div>
            </li>
            <li class="media">
                <img class="storms-image mr-3"
                     src="http://publishing.pundak.co.il/gallery/scrolls-cover-tmb.jpg" alt="מגילות העוצמה">
                <div class="media-body">
                    <h3 class="mt-0 mb-1 text-bold">מגילות העוצמה</h3>
                    <h4>
                        הרפתקה לפאת'פיינדר ולמבוכים ודרקונים
                    </h4>
                </div>
            </li>
            <li class="media">
                <img class="storms-image mr-3"
                     src="http://publishing.pundak.co.il/gallery/covergaztmb.jpg" alt="רשומון איי הסערה">
                <div class="media-body">
                    <h3 class="mt-0 mb-1 text-bold">
                        רשומון איי הסערה
                    </h3>
                    <h4>
                        עולם לכל המהדורות של מבוכים ודרקונים
                    </h4>
                </div>
            </li>
            <li class="media">
                <img class="storms-image mr-3"
                     src="http://publishing.pundak.co.il/gallery/moncover_tmb.jpg" alt="רשומון איי הסערה">
                <div class="media-body">
                    <h3 class="mt-0 mb-1 text-bold">
                        מתוך האפלה

                    </h3>
                    <h4>
                        אוגדן מפלצות של מבוכים ודרקונים 4
                    </h4>
                </div>
            </li>
            <li class="media">
                <img class="storms-image mr-3"
                     src="http://publishing.pundak.co.il/gallery/champs-cover_tmb.jpg" alt="רשומון איי הסערה">
                <div class="media-body">
                    <h3 class="mt-0 mb-1 text-bold">
                        אלופי האור

                    </h3>
                    <h4>
                        הרפתקה לפאת'פיינדר ולמבוכים ודרקונים
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>

@section scripts {
    <script>
        SetActiveMenu("nav-about")
    </script>
}
