@{
    ViewData["Title"] = "דרכי יצירת קשר";
}

<br />

<div class="card card-margined right-to-left">
    <div class="card-body">
        <h5 class="card-title">טופס יצירת קשר</h5>
        <form>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>שם מלא</label>
                        <input type="text" class="form-control" placeholder="ישראלה ישראלי" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>דואר אלקטרוני</label>
                        <input type="email" class="form-control" placeholder="Israela@@israeli.com" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>טלפון</label>
                        <input type="tel" class="form-control" placeholder="050-123456789" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>תוכן</label>
                        <textarea type="text" class="form-control" placeholder="מה אנחנו צריכים לדעת?"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-primary" value="שליחה" />
                    </div>
                </div>
            </div>



        </form>
    </div>
</div>

<br />