@{
    ViewData["Title"] = "דרכי יצירת קשר";
}

<br />

<div class="card card-gray-float right-to-left">
    <div class="card-body">
        <h4 class="text-bold">שלחו לנו כל שאלה</h4>
        <hr />
        <form>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>שם מלא</label>
                        <input type="text" class="form-control" placeholder="ישראלה ישראלי" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>דואר אלקטרוני</label>
                        <input type="email" class="form-control" placeholder="Israela@@israeli.com" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>טלפון</label>
                        <input type="tel" class="form-control" placeholder="050-123456789" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>תוכן</label>
                        <textarea type="text" class="form-control" placeholder="מה אנחנו צריכים לדעת?"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="submit" class="form-control btn dragon-btn" value="שליחת שאלה" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<br />



@section scripts {
    <script>
        SetActiveMenu("nav-contact")
    </script>
}