@using System.Globalization
@using DragonCon.Modeling.Helpers
@using DragonCon.Modeling.Models.Identities
@{
    ViewData["Title"] = "דף הבית";
    var actor = Actor;
}

    <div style="direction: ltr; text-align: left;">
        <div class="card card-gray-float">
            <div class="card-body">
                <h3 class="card-title text-bold">
                    <i class="fa fa-fw fa-dragon  dragon-organge-color"></i>
                    &nbsp;
                    Draconicon - RPG's, Boardgames and More
                </h3>
                <p class="card-paragraph">
                    Meet friends, Discover worlds, Go on adventures
                    <br />
                    Draconicon is the best tabletop gaming convention in Israel, dedicated to boardgames, RPG's, Miniatures, Card games, LARP's and more. It has more than a hundred events, an exhibition hall, free play areas, free to use games library, seminars and more... Come and play!
                    <br />
                    Our next convetion will be
                </p>
            </div>
        </div>

        <div style="direction: ltr; text-align: left;">
            <div class="card card-gray-float">
                <div class="card-body">
                    <h3 class="card-title text-bold">
                        <i class="fa fa-fw fa-dragon  dragon-organge-color"></i>
                        &nbsp;
                        Events at the Convention
                    </h3>
                    <p class="card-paragraph">
                        We have over a hundred different events going on. The events will be published on our site during July, in our games page. There is also a free-to-play area as well as a free games library. If you are unable to read Hebrew and need help finding a game, just ask us and we will gladly help!
                    </p>
                </div>
            </div>
        </div>

        <div style="direction: ltr; text-align: left;">
            <div class="card card-gray-float">
                <div class="card-body">
                    <h3 class="card-title text-bold">
                        <i class="fa fa-fw fa-dragon dragon-organge-color"></i>
                        &nbsp;
                        Run a game at Draconicon
                    </h3>
                    <p class="card-paragraph">
                        You can submit your own game to the convention, using our submission form. Please specify that the game is ran in english and if you need any other help, just contact us.
                    </p>
                </div>
            </div>
        </div>

        <div style="direction: ltr; text-align: left;">
            <div class="card card-gray-float">
                <div class="card-body">
                    <h3 class="card-title text-bold">
                        <i class="fa fa-fw fa-dragon dragon-organge-color"></i>
                        &nbsp;
                        Exhibition Hall
                    </h3>
                    <p class="card-paragraph">
                        Enjoy our exhibition hall, which hosts all the leading Israeli gaming companies and stores as well as indie games, accessories and art stands. There is also a 2nd-hand stand where you can buy and sell used games and give a new life to an old game.
                    </p>
                </div>
            </div>
        </div>
        <div style="direction: ltr; text-align: left;">
            <div class="card card-gray-float">
                <div class="card-body">
                    <h3 class="card-title text-bold">
                        <i class="fa fa-fw fa-dragon dragon-organge-color"></i>
                        &nbsp;
                        When and Where ?
                    </h3>
                    <p class="card-paragraph">
                        <span class="text-danger">//TODO Add</span>
                    </p>
                </div>
            </div>
        </div>


        <div style="direction: ltr; text-align: left;">
            <div class="card card-gray-float">
                <div class="card-body">
                    <h3 class="card-title text-bold">
                        <i class="fa fa-fw fa-dragon dragon-organge-color"></i>
                        &nbsp;
                        Language Note
                    </h3>
                    <p class="card-paragraph">
                        We are happy to accommodate english-only speaking gamers, so you are welcome to come and join us for two days of gaming fun in the heart of Tel-Aviv!
                        Most Israeli gamers have good english, and we have had a large number of English-only speaking players join us and enjoy the convention. Since only a handful of RPG's and boardgames have been translated to Hebrew, most of the games themselves in the conventions are in English.
                        If you need more information about Draconicon, the other parts of the website are in hebrew - you can either use Google Translate or contact us.
                    </p>
                </div>
            </div>
        </div>
    </div>


<div style="direction: ltr; text-align: left;">
    <div class="card card-gray-float">
        <div class="card-body">
            <h3 class="card-title text-bold">
                <i class="fa fa-fw fa-dragon dragon-organge-color"></i>
                &nbsp;
                Contact Us
            </h3>

            <form>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Full Name</label>
                            <input type="text" class="form-control" placeholder="Israel Israeli" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Israela@@israeli.com" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="tel" class="form-control" placeholder="050-123456789" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Message</label>
                            <textarea type="text" class="form-control" placeholder="Ask a question"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <input type="submit" class="form-control btn btn-primary" value="Send" />
                        </div>
                    </div>
                </div>



            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        SetActiveMenu("nav-english")
    </script>
}
