@{
    ViewData["Title"] = "התנדבות בכנס";
}

<br />

<div class="card card-gray-float">
    <div class="card-body">
        <div>
            <iframe 
                style="display: block;border: 0;
                                      height: 100vh;
                                      width: 100%;"
                src="https://docs.google.com/forms/d/e/1FAIpQLSfhJJqdjFg1z5t8G5xxzJ4ml-BZjAOHMwkFDnJANNL04VtCUA/viewform?embedded=true">טוען...</iframe>
        </div>
    </div>
</div>




@section scripts {
    <script>
        SetActiveMenu("nav-volunteer")
    </script>
}