@{
    ViewData["Title"] = "התנדבות בכנס";
}

<br />

<div class="card card-margined right-to-left">
    <div class="card-body">
        <h5 class="card-title">מידע כללי</h5>
        <p>
            <strong>מדוע להנחות בדרקוניקון?</strong> <br />
            זכו בתהילת עולם מהשחקנים שלכם.<br />
            הזדמנות להריץ שיטות חדשות ולהתנסות בעולמות מערכה אחרים.<br />
            מנחה בסבב בודד, מקבל משחק נוסף חינם. מנחה ב-2 סבבים או יותר מקבל כרטיס מלא לכל הכנס, סנדוויץ', וגם צ'ופר מיוחד!
            ארגנו משחק לוח<br />
            משחקי לוח הם תחביב משפחתי נפלא, וגם תחרותי! בדרקוניקון אנו מציעים שלל פעילויות של משחקי לוח - ספריית משחקים, הדגמות של משחקי לוח, שולחנות של משחקים לוהטים וגם טורנירים.<br />
            אם אתם רוצים לארגן אירוע או טורניר של משחק לוח או קלפים, דרקוניקון זה הכנס בשבילכם.<br />
            אם יש משחק שאתם אוהבים, ואתם מעוניינים לערוך לו הדגמה בכנס או יצרתם משחק ואתם רוצים להדגים אותו לקהל הרחב, זה המקום בשבילכם. הרשמה להנחייה<br />

            <br />  <strong>ארגנו משחק לוח</strong><br />
            ארגנו והשתתפו בהדגמות, סדנאות ופעילויות נוספות של משחקים.<br />
            פגשו מאות שחקנים כמוכם.<br />
            התמודדו במגוון טורנירים של משחקי לוח!<br />
            התנדבו לסגל הכנס<br />
            כנס דרקוניקון צועד על קיבתו, או ליתר דיוק על הקיבה של המתנדבים שלנו. התנדבו לכנס וסייעו לנו להפוך את דרקוניקון לחגיגת משחקים וכיף.<br />
            המתנדבים שלנו אחראים על תפעול הכנס, ארגון המשחקים, רישום השחקנים ועל חוויית כנס מגניבה לכולם. השיבוץ למשמרות יבוצע כך שתוכלו גם להתנדב וגם לשחק במשחק שאתם רוצים.<br />
            הרשמה להתנדבות.<br />
        
            <br />
            <strong>משחקי לוח זה כיף?</strong><br />
            קדמו את התחביב וגלו את סודות דרקוניקון.<br />
            קחו חלק בארגון כנס צעיר ורענן וקדמו את קהילת השחקנים בישראל.<br />
            מתנדב מקבל כרטיס לפעילות בודדת על כל משמרת התנדבות. מתנדבת לשתי משמרות מקבלת כרטיס מלא לכל הכנס.<br />
            מתנדבים מקבלים סנדוויץ' ושתיה ביום שבו הם מתנדבים.<br />
        </p>
    </div>
</div>

<div class="card card-margined right-to-left">
    <div class="card-body">
        <h5 class="card-title">הנחיית אירוע</h5>
        <p>
            @if (Actor.HasDisplayConvention &&
                 Actor.DisplayConvention.Settings.AllowEventsSuggestions)
            {
                <span>
                    ההרשמה למנחים נפתחה! ההרשמה תמשך עד תחילת יולי, מומלץ להגיש את המשחקים שלך מוקדם ככל הניתן - מספר השולחנות בכנס מוגבל - מידע כללי על ההנחייה בדרקוניקון.
                </span>
            }
            else
            {
                <span>רישום המנחים לכנס הסתיים, נשמח לראות אתכם גם בכנס הבא!</span>
            }
            
        </p>
        </div>
</div>


<div class="card card-margined right-to-left">
    <div class="card-body">
        <h5 class="card-title">טופס התנדבות</h5>
        <p>
            למידע על ההטבות שמתנדבים מקבלים, ומדוע התנדבות בדרקוניקון זו חוויה מדליקה - קראו כאן!
        </p>
        <a href="#">לחצו כאן על מנת למלא טופס התנדבות!</a>

    </div>
</div>

<br />