@using System.Globalization
@using DragonCon.App.Settings
@using DragonCon.Modeling.Helpers
@using DragonCon.Modeling.Models.Identities
@model DragonCon.Features.Convention.Landing.LandingViewModel
@{
    var actor = Actor;
    Layout = "_LandingLayout";
    ViewData["Title"] = $"דף הכנס";
}

<br />
<div class="card card-gray-float">
    <div class="card-body">
        <h3 class="card-title text-bold">
            @await Html.PartialAsync("_PartialDragon")
            מהו דרקוניקון?
        </h3>
        <p class="card-paragraph">
            <ul class="fa-ul card-list">
                <li>
                    @await Html.PartialAsync("_PartialBulletin")
                    דרקוניקון הוא כנס המשחקים השולחניים הגדול בישראל. <br />
                </li>
                <li>
                    @await Html.PartialAsync("_PartialBulletin")
                    בכנס תמצאו עשרות אירועים שונים להשתתף בהם. <br />
                </li>

                <li>
                    @await Html.PartialAsync("_PartialBulletin")
                    הכנס מאורגן בהתנדבות ומתקיים כל שנה במהלך אוגוסט מ-2007 ועד היום. <br />
                </li>
            </ul>
        </p>
        <p class="text-center">
            <img src="/images/logos/Logo_Optimized.png" style="max-width: 50%" />
        </p>

    </div>
</div>


@await Html.PartialAsync("_PartialSharedSlider", new SliderSettings
{
    Title = "דרקוניקון בתמונות",
    Slides = Model.CarouselItems
})


<div class="card card-gray-float">
    <div class="card-body">
        <h3 class="card-title text-bold">
            @await Html.PartialAsync("_PartialDragon")
            איפה ומתי הכנס ?
        </h3>
        <p class="card-paragraph">
            @if (actor.HasDisplayConvention)
            {
                @await Html.PartialAsync("_PartialLocation", false)
                <br />
                <br />
                @await Html.PartialAsync("_PartialConvetionDays")
            }
        </p>
    </div>
</div>


<div class="card card-gray-float">
    <div class="card-body">
        <h3 class="card-title text-bold">
            @await Html.PartialAsync("_PartialDragon")
            מה תמצאו בכנס ?
        </h3>
        <ul class="fa-ul card-list">
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                בכנס תמצאו עשרות אירועים שונים להשתתף בהם. <br />
            </li>

            <li>
                @await Html.PartialAsync("_PartialBulletin")
                משחקי תפקידים שולחניים, משחקי תפקידים חיים, משחקי לוח, טורנירים, משחקי מיניאטרות ועוד. <br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                הכס מיועד לכל הגילאים, ולכל השחקנים - ותיקים או חדשים, מבוגרים או צעירים, וגם למשפחות! <br />
            </li>
        </ul>
        <p class="card-paragraph">
            <h3 class="text-center">
                <strong class="dragon-organge-color">אז בואו לשחק בדרקוניקון!</strong>
            </h3>
        </p>
    </div>
</div>

<a class="btn dragon-register-btn" asp-area="Convention" asp-controller="Home" asp-action="Register">הרשמה לכנס @Actor.DisplayConvention?.ConventionName</a>
<br />
<br />
<div class="card card-gray-float">
    <div class="card-body">
        <h3 class="card-title text-bold">
            @await Html.PartialAsync("_PartialDragon")
            שאלות נוספות ?
        </h3>
        <br />
        @await Html.PartialAsync("PartailLearnMore")
    </div>
</div>

@await Html.PartialAsync("_PartialContactUs")