@{
    ViewData["Title"] = "איפוס סיסמה";
}
<div class="card card-gray-float">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
            &nbsp;
            נשלח דואר לאיפוס סיסמה
        </h3>
        <p class="card-paragraph">
            נשלח דואר עם הנחיות לאיפוס סיסמה אל הדואר האלקטרוני שהזנתם!<br />
            אם אתם לא רואים דואר מאיתנו, נסו לבדוק בתיבת דואר הזבל או להמתין עוד כמה דקות.
        </p>
    </div>
</div>
