@{
    ViewData["Title"] = "איפוס סיסמה";
}

<div class="card card-gray-float">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-orange-color"></i>
            &nbsp;
            שכחתי את הסיסמה שלי!
        </h3>

        <form asp-area="Participant" asp-controller="Account" asp-action="ForgotPassword" method="post" class="card-form">
            <div class="col">
                <div class="row">
                    <div class="form-group col-12">
                        <label class="required">דואר אלקטרוני</label>
                        <input name="email" type="email" class="form-control" required>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-12 text-center">
                        <button type="submit" class="btn dragon-btn"> איפוס סיסמה </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
